* {
    margin: 0;
}
html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
    transition-property: background-color;
    transition-duration: 0.8s;
}
path{ fill:inherit; stroke:inherit; }

h1,
h2 {
    margin: 0;
    @include fontNormal;
    letter-spacing: 1px;
    font-weight: 900;
    font-family: Alegreya-Black, Arial, Helvetica, sans-serif;
}

h3,
h4 {
    @include fontNormal;
    font-weight: 800;
    font-family: Alegreya-ExtraBold, Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 7.2rem;
}

h2 {
    font-size: 5.2rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.4rem;
}

.text-small {
    @include smallText;
}

.text-clarification {
    font-family: Alegreya-Black, Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: 900;
    @include fontNormal;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}