@font-face {
    font-family: "Alegreya-Bold";
    src: url("../fonts/Alegreya/Alegreya-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Alegreya-ExtraBold";
    src: url("../fonts/Alegreya/Alegreya-ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Alegreya-Black";
    src: url("../fonts/Alegreya/Alegreya-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Alegreya";
    src: url("../fonts/Alegreya/Alegreya-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Alegreya-Regular";
    src: url("../fonts/Alegreya/Alegreya-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}