.nav-burger {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 320px;
    background: #313945;
    z-index: 15;
    top: 0;
    right: -1000px;
    transition: all 0.3s;

    ul {
        @include fontNormal;
        font-weight: 800;
        font-family: Alegreya-Black, Arial, Helvetica, sans-serif;
        font-size: 1.8rem;
        letter-spacing: 1px;
        list-style-type: none;
        text-transform: uppercase;
        padding: 0;
        color: #fff;
        text-align: center;

        li {
            padding-bottom: 20px;
        }

        li:hover {
            transition: 0.3s;
            cursor: pointer;
            color: $BtnColorActive;
        }
    }

    .contacts {
        position: relative;
        bottom: -20%;
        img{
            display: none;
        }
        .header__container-text {
            text-align: center;
            display: block;
        }
    }
}

.nav-burger-active {
    right: 0px;
}