footer{
    background: #000000;
    height: 120px;
}

.footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    height: 120px;
    padding: 0;
    .policy-text{
       @include normalText;
        @media (max-width: 834px){
            font-size: 1.2rem;
        }
    }
}

.footer__container-contact{
    display: flex;
}