.scroll__wrapper-header {
    background: #fff;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 10;
}

.header__wrapper {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 44px;
    background: #fff;
    z-index: 999;
    width: 100%;
    left: 0;
    right: 0;

    .logo {
        img {
            width: 100%;
        }

        @media (max-width: 359px) {
            width: 100px;
        }
    }

    main {
        min-width: 30%;

        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            @include fontNormal;
            font-weight: 800;
            font-family: Alegreya-Black, Arial, Helvetica, sans-serif;
            font-size: 1.8rem;
            letter-spacing: 1px;
            list-style-type: none;
            text-transform: uppercase;
            padding: 0;

            li:hover {
                transition: 0.3s;
                cursor: pointer;
                color: $BtnColorActive;
            }
        }

        @media (max-width:1120px) {
            display: none;
        }
    }

    .header__container-contact {
        display: flex;

        @media (max-width: 834px) {
            justify-content: end;
            align-items: center;
        }
    }

    .basket {
        @include flex-center;
        cursor: pointer;
        width: 246px;

        @media (max-width: 834px) and (min-width:416px) {
            width: 100px;
            padding-right: 50px;
        }

        @media (max-width: 415px) {
            width: 100px;
            padding: 0;
            padding-right: 50px;
        }

        .basket-size {
            position: relative;

            span {
                position: absolute;
                width: 20px;
                height: 20px;
                @include flex-center;
                top: -9px;
                right: 0;
                font-family: Roboto-Medium, Arial, Helvetica, sans-serif;
                font-size: 1.1rem;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.59;
                letter-spacing: normal;
                border-radius: 10px;
                background-color: $BtnColor;
                color: #fff;
                transition: 0.3s;

                &:hover {
                    background-color: $BtnColorActive;
                }
            }
        }

        .header__container-text {
            padding-left: 10px;

            @media (max-width: 834px) {
                display: none;
            }
        }

        .text-clarification {
            margin: 0;
        }

        .text-small {
            margin: 5px 0px 0px;
        }
    }

    .language {
        cursor: pointer;
        @include flex-center;
        margin-right: 24px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: #eff0f1;
        font-weight: 800;
        font-family: Alegreya-Black, Arial, Helvetica, sans-serif;
        font-size: 1.8rem;
        letter-spacing: 1px;

        p {
            margin: 0px;
        }

        @media(max-width: 490px) {
            display: none;
        }
    }




}

.scroll {
    height: 50px;

    .logo {
        img {
            width: 100px;
        }
    }

    .language {
        display: none;
    }
}


.menu-icon-wrapper {
    cursor: pointer;
    position: fixed;
    right: 0px;
    top: 50px;
    z-index: 999;
    margin-right: 30px;

    @media(min-width: 835px) {
        display: none;
    }

    @media(max-width:834px) and (min-width: 491px) {
        right: 54px;
        top: 49px;
    }

    @media(max-width: 359px) {
        top: 30px;
    }
}

.menu-icon-wrapper-scroll {
    right: 0 !important;
    top: 32px !important;
}

.menu-icon-wrapper-active {
    right: 0;
    top: 45px;
}






.menu-icon {
    z-index: 20;
    position: relative;
    width: 24px;
    height: 4px;
    border-radius: 20px;
    background: #111;
}

.menu-icon-active {
    background: #313945;
}


.menu-icon::before {
    position: absolute;
    top: -5px;
    left: 0;
    content: '';
    display: block;
    width: 24px;
    height: 4px;
    border-radius: 20px;
    background: #111;
    transition: transform 0.2s linear, top 0.2s ease-in 0.2s;
}

.menu-icon-active::before {
    transform: rotate(45deg);
    top: 0px;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    background: #fff;
}

.menu-icon::after {
    position: absolute;
    top: 5px;
    left: 0;
    content: '';
    display: block;
    width: 18px;
    height: 4px;
    border-radius: 20px;
    background: #111;
    transition: transform 0.2s linear, top 0.2s ease-in 0.2s;
}

.menu-icon-active::after {
    transform: rotate(-45deg);
    width: 24px;
    top: 0px;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    background: #fff;
}