.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.349);
    z-index: 999;

    .modal-window {
        width: 704px;
        height: 900px;
        border-radius: 5px;
        background-color: #ffffff;
        padding: 30px;
    }
    .modal__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 30px;

        button{
            background: #fff;
            border: none;
            font-size: 25px;
            cursor: pointer;
            &:focus{
                border: none;
                outline: none;
            }
        }
    }
}